POSTGRES_USER=user
POSTGRES_PASSWORD=YOUR_PASSWORD
POSTGRES_PASSWORD_ENCODED=YOUR_PASSWORD_ENCODED
POSTGRES_DB=db
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD_ENCODED}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
SECRET_KEY=YOUR_SECRET
ALGORITHM=YOUR_ALGORITHM (Ex: HS256)
